/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto:wght@300&display=swap');

/* Asterisk wildcard*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(216, 215, 176);
    color: #445361;
    text-align: center;


}

header {
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    /*font-size: 2.5rem;*/
}

.title {
    text-transform: uppercase;
    font-size: 65px;
}

/*.questions {
    font-size: 35px;
    margin-top: 130px;
    text-align: center;
}*/

.playground {
    background-color: #ffefa7;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.submit {
    width: 220px;
    height: 60px;
    font-family: oswald, sans-serif;
    color: black;
    font-size: x-large;
    background-color: grey;
}

/*.truebtn {
    margin-bottom: 10px; use
    /*margin-right: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}*/

.scoreground {
    margin: 5px auto;
    width: 60%;
    font-size: 20px;

}

/*.scores {
    display: inline-block;
    padding: 15px;
    font-family: oswald, sans-serif;
}*/